<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OLSSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>	
	 
	 
	 	
	
	 
	 <!--- Login-Logout __________________________________________________________-->
	 <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.ols.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/loginaction</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ols.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logoutaction</url-pattern>
  </servlet-mapping>
  
  <!-- direct to -->
    <servlet>
    <servlet-name>CourseMain</servlet-name>
    <servlet-class>com.ols.action.CourseMainAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseMain</servlet-name>
    <url-pattern>/courseMainAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuizMain</servlet-name>
    <servlet-class>com.ols.action.QuizMainAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizMain</servlet-name>
    <url-pattern>/quizMainAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>StuCourseMain</servlet-name>
    <servlet-class>com.ols.action.StuCourseMainAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuCourseMain</servlet-name>
    <url-pattern>/stuCourseMainAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuQuizMain</servlet-name>
    <servlet-class>com.ols.action.StuQuizMainAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuQuizMain</servlet-name>
    <url-pattern>/stuQuizMainAction</url-pattern>
  </servlet-mapping>
  
  <!--course -->
    <servlet>
   <servlet-name>AddCourseAction</servlet-name>
    <servlet-class>com.ols.action.AddCourseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseAction</servlet-name>
    <url-pattern>/addCourseAction</url-pattern>
  </servlet-mapping>
  
  <!-- Edit Course- -->
  <servlet>
   <servlet-name>EditCourseAction</servlet-name>
    <servlet-class>com.ols.action.EditCourseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourseAction</servlet-name>
    <url-pattern>/editCourse</url-pattern>
  </servlet-mapping>
  
  <!-- Quiz -->
    <servlet>
   <servlet-name>AddQuizAction</servlet-name>
    <servlet-class>com.ols.action.AddQuizAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuizAction</servlet-name>
    <url-pattern>/addQuizAction</url-pattern>
  </servlet-mapping>
  <!-- question -->
  <servlet>
   <servlet-name>AddFillBlankAction</servlet-name>
    <servlet-class>com.ols.action.AddFillBlankAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFillBlankAction</servlet-name>
    <url-pattern>/addFillBlankAction</url-pattern>
  </servlet-mapping>
    <servlet>
   <servlet-name>AddMultiChoiceAction</servlet-name>
    <servlet-class>com.ols.action.AddMultiChoiceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMultiChoiceAction</servlet-name>
    <url-pattern>/addMultiChoiceAction</url-pattern>
  </servlet-mapping>
</web-app>